

<html>
    <body>
        <div class="container">
            <div class="panel padding-medium">
                <h3 class=text-blue>Thank you for applying</h3>

                <h4>Applicant Details</h4>
                <p><strong>Name: </strong>@ViewBag.users.Name @ViewBag.users.Surname</p>
                <p><strong>Email: </strong>@ViewBag.users.Email</p>
                <p><strong>Phone: </strong>@ViewBag.users.Phone</p>
                
            </div>
        </div>
    </body>
</html>
